h1 {
  text-align: center;
  text-decoration: underline;
  color: darkblue;
}

body {
  background-color: lightblue;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}